{{! Template, kuris naudojamas su html turiniu}}

<table>
    {{#each zmones}}
    <tr>
        <td>
            {{this.vardas}}
        </td>
        <td>
            {{this.pavarde}}
        </td>
    </tr>
    {{/each}}
</table>



{{!-- {{#each zmones}}

<div>
    {{this.vardas}}
    <span>Vardas: {{this.vardas}} Pavarde: {{this.pavarde}}</span>
    {{this.pavarde}}
</div>

{{/each}} --}}